// main: ../blog.scss

$font-body: "中ゴシックBBB", "YuGothic", "Yu Gothic", "游ゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$font-sans: Arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
$font-code:"Source Han Code JP",Consolas,Courier,monospace;

$font-logo: Georgia,"Times New Roman","游明朝",YuMincho,"ヒラギノ明朝 Pro W6","Hiragino Mincho Pro","HGS明朝E","ＭＳ Ｐ明朝","メイリオ",Meiryo,serif;

$font-x-large:140%;
$font-large:110%;
$font-medium:100%;
$font-small:90%;

$color-text:#111;
$color-text-gray:#999;
$color-text-article:#404040;
$color-link:#08c;
$color-border:#ddd;

$color-black:#111;
$color-red:#ff2d55;
$color-lightgray:#F1F1F1;

$search-size:30px;

$link-black-hover:40%;
$link-transition-speed:.2s;
$link-transition-property:ease;
