<!doctype html>
<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
<meta charset="utf-8">
<title>{{ .Site.Title }}{{ if gt .Paginator.PageNumber 1 }}（{{ .Paginator.PageNumber }}ページ目）{{ end }}</title>
{{ partial "meta.html" . }}
<meta property="og:title" content="{{ .Site.Title }}">
<meta name="description" content="{{ .Site.Params.description }}{{ if gt .Paginator.PageNumber 1 }}（{{ .Paginator.PageNumber }}ページ目）{{ end }}">
<link rel="canonical" href="{{ .Permalink }}{{ trim .Paginator.URL "/" }}">
{{ if .Paginator.HasPrev }}<link rel="prev" href="{{ .Paginator.Prev.URL }}">{{ end }}
{{ if .Paginator.HasNext }}<link rel="next" href="{{ .Paginator.Next.URL }}">{{ end }}
</head>
<body class="home">

{{ partial "header.html" . }}

<ul class="posts">
    {{ range .Paginator.Pages }}
        {{ .Render "summary"}}
    {{ end }}
</ul>

{{ partial "pagination.html" . }}

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Blog",
    "name": "{{ .Site.Title }}",
    "url": "{{ .Site.BaseURL }}",
    "image": "{{ .Site.Params.avatar }}",
    "author": {
        "@type": "Person",
        "name": "{{ .Site.Params.author }}",
        "url": "{{ .Site.BaseURL }}",
        "image": "{{ .Site.Params.avatar }}"
    },
    "description": "{{ .Site.Params.description }}",
    "blogPosts": [{{ range first 1 .Paginator.Pages }}
        {
            "@type": "BlogPosting",
            "name": "{{ .Title }}",
            "url": "{{ .Permalink }}",
            "datePublished": "{{ .Date.Format "2006-01-02T00:00:00" }}+09:00",
            "description": "{{ .Description }}"
        }{{ end }}{{ range $index, $element := .Paginator.Pages }}{{ if gt $index 0 }}
        ,{
            "@type": "BlogPosting",
            "name": "{{ .Title }}",
            "url": "{{ .Permalink }}",
            "datePublished": "{{ .Date.Format "2006-01-02T00:00:00" }}+09:00",
            "description": "{{ .Description }}"
        }
    {{ end }}{{ end }}]
}
</script>

{{ partial "footer.html" . }}
