<div class="container">
    <header class="header row">

        <div class="title eight columns alpha">
            <a href="/">{{ .Site.Title }}</a>
        </div>

        <div class="feed three columns offset-by-one omega">
            <a href="{{ .RSSlink }}" type="application/rss+xml" class="iconbutton" target="_blank" title="RSS Feed"><span class="icon-rss"></span></a>
        </div>
    </header><!-- /.header -->

    <div class="main row clearfix" role="main">

        <div class="content nine columns alpha">
