<div class="ad ad-sidebar-top">
    <script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- side -->
	<ins class="adsbygoogle"
		style="display:inline-block;width:200px;height:200px"
		data-ad-client="ca-pub-9281671442970905"
		data-ad-slot="7439453839"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</div>

<script>
  (function() {
    var cx = '005022487374147002888:kdtmvj_tomw';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>


{{ if isset .Data "Pages" }}
<section class="section recent">
    <h3><i class="icon-feather"></i> Recent Articles</h3>
    <ul>
        {{ range first 10 .Data.Pages }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
    </ul>
</section>
{{ end }}

<section class="section tags">
    <h3><i class="icon-tag"></i> Tags</h3>
    <ul>
        {{ range $key, $value := .Site.Taxonomies.tag }}<li><a href="/tag/{{ $key | urlize }}">{{ $key | title }}</a> <sup>({{ $value.Count }})</sup></li>{{ end }}
    </ul>
</section>

<section class="section tweets">
    <h3><i class="icon-twitter"></i> Tweets</h3>
    <div class="twitprof naked" data-screen="kijtra"></div>
    <a class="twitter-timeline" href="https://twitter.com/kijtra" height="300" data-widget-id="466381965910740992" data-chrome="noheader transparent">@kijtra からのツイート</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</section>
