// out: ../../static/css/blog.css, compress: false, sourcemap: true

@import "modules/variables.scss";
@import "../Skeleton-2.0.4/css/normalize";
@import "../Skeleton-2.0.4/css/skeleton";
$fa-font-path: "../fonts";
@import "../font-awesome-4.3.0/scss/font-awesome";
@import "modules/icomoon";
@import "modules/google_cse";
@import "modules/socialcounts";
@import "modules/twitprof";

.container {
    max-width: 960px
}

::-webkit-scrollbar {
  width:12px;
}
::-webkit-scrollbar-track {
  background:transparent;
  border:0;
}
::-webkit-scrollbar-track:hover {
  background:$color-lightgray;
}
::-webkit-scrollbar-thumb {
  background:$color-black;
  border:0;
}
::-webkit-scrollbar-thumb:hover {
  background:lighten($color-black,50%);
}

html {
    height:100%;
    background-color: #fff;
    background-image: -o-linear-gradient(180deg,#fff 30%,#f7f5f0 100%);
    background-image: -moz-linear-gradient(180deg,#fff 30%,#f7f5f0 100%);
    background-image: -webkit-linear-gradient(180deg,#fff 30%,#f7f5f0 100%);
    background-image: -ms-linear-gradient(180deg,#fff 30%,#f7f5f0 100%);
    background-image: linear-gradient(180deg,#fff 30%,#f7f5f0 100%);
    background-attachment:fixed;
    -webkit-font-smoothing: antialiased;
}

body {
    height:100%;
    font-family:$font-body;
    color:$color-text;
    background:none;
}

a, a:visited {
    color:$color-link;
    text-decoration:none;
    -webkit-transition: color $link-transition-speed $link-transition-property;
    -moz-transition: color $link-transition-speed $link-transition-property;
    -o-transition: color $link-transition-speed $link-transition-property;
    transition: color $link-transition-speed $link-transition-property;

    &:hover {
        color:darken($color-link, 10%);
        text-decoration:underline;
    }
}

input,
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select{
    font-family:inherit;
}

hr {
    margin:60px 0;
}


.prettyprint {
    margin:15px 0;
    padding:20px;
    font-family:$font-code;
    font-size:13px;
    line-height:1.4;
    overflow:auto;
    border:1px solid #ddd;
}

.gist .highlight {
    margin:0;
    border:0;
    background:none;
    th,td {
        line-height:1.4;
    }
}

.iconbutton, .iconbutton:visited {
    display:inline-block;
    padding:4px 6px 2px;
    color:#fff;
    line-height:1.43;
    background:$color-text;
    -webkit-transition: background-color $link-transition-speed $link-transition-property;
    -moz-transition: background-color $link-transition-speed $link-transition-property;
    -o-transition: background-color $link-transition-speed $link-transition-property;
    transition: background-color $link-transition-speed $link-transition-property;

    &:hover {
        color:#fff;
        text-decoration:none;
        background:lighten($color-text, $link-black-hover);
    }
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    line-height: 1.5;
    border: 1px solid transparent;
    border-radius: 4px;

    &.alert-success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }

    &.alert-info {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }

    &.alert-warning {
          color: #8a6d3b;
          background-color: #fcf8e3;
          border-color: #faebcc;
    }

    &.alert-danger {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }

    * {
        color:inherit;
    }
}


.ad {
    max-width:100%;
    text-align:center;
    overflow:hidden;
}

.ad-article-bottom {
    margin:30px 0;
    text-align:left;
}


.header {
    padding:80px 0 100px;
    line-height:1;

    .title {
        font-size:300%;

        a, a:visited {
            font-weight:normal;
            color:$color-text;
        }

        a:hover{
            color:lighten($color-text, $link-black-hover);
            text-decoration:none;
        }
    }

    .feed {
        text-align:right;
        a {
            margin-top:10px;
        }
    }
}


.posts {
    margin:0;
    padding:0;
    list-style:none;

    li {
        padding:50px 0;
        border-top:1px solid $color-border;

        &:first-child {
            margin-top:0;
            padding-top:0;
            border-top:0;
        }

        &:last-child {
            margin-bottom:0;
            padding-bottom:0;
        }

        h2 {
            margin:0 0 25px;
            padding:0;
            font-family:inherit;
            font-size:170%;
            font-weight:normal;
            line-height:1.4;

            a, a:visited {

                color:$color-text;
            }

            a:hover{
                color:lighten($color-text, $link-black-hover);
                text-decoration:none;
            }
        }

        p {
            color:$color-text-gray;
            letter-spacing:0.03em;
            text-align:justify;
            text-justify:inter-ideograph;
            -webkit-transition: color 2s ease;
            -moz-transition: color 2s ease;
            -o-transition: color 2s ease;
            transition: color 2s ease;

            .more {
                display:inline-block;
                white-space:nowrap;
            }
        }

        &:hover p{
            color:$color-text;
        }

        small {
            display:block;
            margin-top:10px;
            color:$color-text-gray;

            .date {
                margin-right:10px;
            }

            .comment {
                margin-right:10px;
            }

            .tags {
                display:inline-block;
                margin-left:10px;
                vertical-align:middle;
            }
        }
    }
}

body.tags {
    h1 {
        margin:0 0 50px;
        padding:50px 0;
        font-size:400%;
        font-family:inherit;
        line-height:1;
        border-top:1px solid $color-text;
        border-bottom:1px solid $color-text;
    }
}

body.article {
    .post {
        h1 {
            margin:0;
            padding:20px 15px;
            font-size:160%;
            font-weight:normal;
            font-family:inherit;
            color:#fff;
            line-height:1.4;
            background:$color-text;
        }

        .meta {
            margin:15px 0 40px;
            color:$color-text-gray;

            .date {
                margin-right:10px;
            }

            .comment {
                margin-right:10px;
            }

            .tags {
                display:inline-block;
                margin-left:10px;
                vertical-align:baseline;
            }
        }

        > .ad {
            display:none;
        }

        .body {
            font-size:115%;
            color:$color-text-article;
            line-height:1.9;
            letter-spacing:0.03em;

            h2 {
                margin:50px 0 30px;
                padding:0 0 5px;
                font-size:$font-x-large;
                line-height:1.3;
                border-bottom:1px solid $color-border;
            }

            h3 {
                margin:30px 0 15px;
                font-size:$font-large;
                line-height:1.3;
            }

            img {
                display:block;
                margin:10px 0;
                max-width:100%;
                border:1px solid $color-border;
            }

            em {
                font-style:normal;
                background:#FCF68D;
            }

            ul {
                list-style:disc;
                padding-left:3em;
                ul {
                    list-style:circle;
                    padding-left:1.5em;
                }
            }

            ol {
                list-style:decimal;
                padding-left:1.5em;
                ol {
                    list-style:decimal;
                }
            }

            li {
                line-height:1.5;
            }

            iframe {
                max-width:100%;
                margin:20px 0;
            }

            code {
                font-family:$font-code;
                padding: 2px 4px;
                font-size: 90%;
                color: #c7254e;
                background-color: #f9f2f4;
                border-radius: 4px;
                word-wrap:break-word;
                word-break:break-all;
                white-space:inherit;
            }

            pre {

                code {
                    padding:0;
                    color:inherit;
                    font-size: inherit;
                    border:0;
                    background:transparent;
                    white-space:nowrap;
                }

                .linenums {
                    margin:0;
                    padding:0 0 0 3em;
                    //list-style:lower-latin;

                    li {
                        margin:0;
                        padding:0;
                        line-height:1.2;
                        background:none;
                        list-style: inherit;

                        &:nth-child(odd) {
                            background:rgba(0,0,0,.2);
                        }
                    }
                }
            }

            //@import "./modules/prettify";

            .prettyprint {
                max-width:100%;
                padding:10px;
                border:0;
                border-radius:2px;
                overflow:auto;
                -webkit-overflow-scrolling: touch;
            }

            blockquote {
                font-family:$font-sans;
                margin-left:0;
                padding-left:1.2em;
                border-left:5px solid rgba(0,0,0,.1);
            }

            kbd {
                font-family:$font-code;
                margin:0 2px;
                padding: 2px 4px;
                font-size: 90%;
                color: #fff;
                background-color: #333;
                border-radius: 3px;
                -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
                box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
            }
        }
    }

    .disqus {
        margin-top:60px;
    }
}

.paginate {
    margin:80px 0 30px;
    overflow:hidden;
    text-align:center;

    a {
        display:inline-block;
        *zoom:1;
        margin:0 20px;
        padding:10px 40px;
        color:#fff;
        line-height:1;
        background:$color-black;
        -webkit-transition: background-color $link-transition-speed $link-transition-property;
        -moz-transition: background-color $link-transition-speed $link-transition-property;
        -o-transition: background-color $link-transition-speed $link-transition-property;
        transition: background-color $link-transition-speed $link-transition-property;

        &:hover, &:focus {
            color:#fff;
            text-decoration:none;
            background: lighten($color-black, $link-black-hover);
        }

        &:first-child {
            margin-left:0;
        }

        &:last-child {
            margin-right:0;
        }
    }
}

.footer {
    margin:50px 0 0;
    padding:50px 0;
    border-top:1px solid $color-border;

    .right {
        text-align:right;

        a {
            margin-left:20px;
        }
    }
}


.container .omega {
    float:right;
}

@import "modules/sidebar.scss";

// Tablet
@media (max-width: 767px) { @import "modules/tablet.scss"; }

// Phone
@media (max-width: 568px) { @import "modules/mobile.scss"; }
